<h1><%= @matriculation.student.name %> matriculated in <%= @matriculation.institution.name %></h1>

<p>
	<strong>Student: </strong> <%= @matriculation.student.name %><br />
   <strong>Institution: </strong> <%= @matriculation.institution.name %><br />
   <strong>Due Date: </strong> <%= @matriculation.due_date %><br />
   <strong>Number of Invoices: </strong> <%= @matriculation.num_invoices %><br />
   <strong>Total Value: </strong> R$<%= @matriculation.total_value %><br />
</p>

<hr />

<%= link_to 'Back', {:action => 'list'} %>
